@charset "ISO-8859-1";

table {
	border: 2px solid;
	border-collapse: collapse;
	margin: 20px;
	width: 600px;
}

td {
	border: 1px solid;
	padding: 8px;
}

th {
	padding: 10px;
	background-color: #003154;
	color: #eee;
	text-align: left;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
	}
	
tr:hover {
	background-color: #4c86b0;
}

.button {
	padding: 5px 30px;
}

.oikealle {
	text-align: right;
}

.poista {
	color: red;
	text-decoration: underline;
	cursor: pointer;
}

#linkki {
	color: white;
	text-decoration: none;
}
